.personal-profile-container {
  grid-column: 2;
  margin: 5rem auto auto auto;
  border-top: 1px solid black;
  width: 95%;
}

.personal-profile-header {
  text-align: center;
}

.personal-posts {
  display: grid;
  grid-template-columns: 1fr 0.15fr;
}

.edit-delete-btns-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin: auto 100% auto auto;
}

.edit-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #0076bd;
}

.delete-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #0076bd;
}

@media screen and (min-width: 800px) {
  .personal-profile-container {
    grid-column: 2;
    margin: 5rem auto auto auto;
    border-top: 1px solid black;
    width: 80%;
  }

  .personal-profile-header {
    text-align: center;
  }

  .personal-posts {
    display: grid;
    grid-template-columns: 1fr 0.15fr;
  }

  .edit-delete-btns-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin: auto 100% auto auto;
  }

  .edit-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #0076bd;
  }

  .delete-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #0076bd;
  }
}
