.dropdown {
  grid-column: 4;
  margin: 5% auto auto 45%;
  position: relative;
}

.dropdown-bars {
  transition: all 0.2s linear;
  font-size: 2.4rem;
  cursor: pointer;
}

.dropdown-bars:hover {
  color: rgba(0, 0, 0, 0.486);
}

.dropdown-bars-active {
  transition: all 0.2s linear;
  transform: rotate(90deg);
  font-size: 2.4rem;
  cursor: pointer;
}

.dropdown-menu-container {
  position: absolute;
  margin: 27% auto auto -6rem;
  background-color: white;
}

.dropdown-menu-hide {
  display: none;
}

.dropdown-icons-position {
  position: relative;
}

.dropdown-friend-requests {
  position: absolute;
  margin: auto auto auto 25px;
}

.dropdown-messages {
  position: absolute;
  margin: auto auto auto 25px;
}

@media screen and (min-width: 600px) and (max-width: 799px) {
  .dropdown-bars {
    margin-top: 17%;
  }

  .dropdown-menu-container {
    position: absolute;
    margin: 1.75rem auto auto -5rem;
  }
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
  .dropdown-bars {
    display: none;
  }

  .dropdown-bars-active {
    display: none;
  }

  .dropdown-menu-container {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .dropdown-bars {
    display: none;
  }

  .dropdown-bars-active {
    display: none;
  }

  .dropdown-menu-container {
    display: none;
  }
}
