.header-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-bottom: 1px solid black;
}

.profile-background {
  max-height: 30vh;
  width: 100%;
}

.profile-img {
  margin: -10% auto 0 auto;
  max-width: 5rem;
  max-height: 5rem;
  border: 3px solid white;
  border-radius: 50%;
  overflow: hidden;
}

.header-personal-detail {
  margin: auto;
  text-align: center;
}

.sidebar {
  display: none;
}

.friends-title {
  margin: 5% auto 3% auto;
  border-bottom: 1px solid black;
  padding-bottom: 5%;
  width: 40%;
}

.more-friends {
  cursor: pointer;
}

.mobile-sidebar-hidden {
  display: none;
}

.mobile-sidebar-shown {
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  margin: 35% auto auto auto;
  width: 7rem;
  position: absolute;
  background-color: white;
}

.small-friends-arrow {
  transition: all linear 0.2s;
  position: absolute;
  margin: 55% auto auto auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.small-friends-arrow-clicked {
  transition: all linear 0.2s;
  position: absolute;
  transform: rotate(180deg);
  margin: 55% auto auto 23%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
  .header-section {
    grid-template-columns: 0.2fr 1fr;
  }

  .header-img-container {
    grid-row: 1;
    grid-column: 2;
  }

  .profile-img {
    margin: -7% auto 0 auto;
    max-width: 7rem;
    max-height: 7rem;
    border: 3px solid white;
    border-radius: 50%;
    overflow: hidden;
  }

  .header-personal {
    grid-column: 2;
    grid-row: 2;
  }

  .sidebar {
    display: inline-block;
    width: 100%;
    grid-column: 1;
    grid-row: 1 / -1;
    text-align: center;

    box-sizing: border-box;
    border-right: 1px solid black;
  }

  .sidebar-shown {
    display: none;
  }

  .small-friends-arrow {
    display: none;
  }

  .mobile-sidebar-shown {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-section {
    grid-template-columns: 0.2fr 1fr;
  }

  .header-img-container {
    grid-row: 1;
    grid-column: 2;
  }

  .profile-img {
    margin: -7% auto 0 auto;
    max-width: 7rem;
    max-height: 7rem;
    border: 3px solid white;
    border-radius: 50%;
    overflow: hidden;
  }

  .header-personal {
    grid-column: 2;
    grid-row: 2;
  }

  .profile-img {
    margin: -4% auto 0 auto;
    max-width: 7rem;
    max-height: 7rem;
    border: 3px solid white;
    border-radius: 50%;
    overflow: hidden;
  }

  .sidebar {
    display: inline-block;
    width: 100%;
    grid-column: 1;
    grid-row: 1 / -1;
    text-align: center;
    box-sizing: border-box;
    border-right: 1px solid black;
  }

  .sidebar-shown {
    display: none;
  }

  .small-friends-arrow {
    display: none;
  }

  .mobile-sidebar-shown {
    display: none;
  }
}
