.timeline {
  grid-column: 2;
  margin: auto;
  width: 70%;
}

.load-more-timeline {
  background-color: var(--sans-serif);
  border: none;
  border-radius: 5px;
  color: var(--secondary-color);
  height: 2.5rem;
  width: 4.5rem;
  font-size: 1.25rem;
  margin-left: 45%;
  margin-bottom: 2rem;
  cursor: pointer;
}

.load-more-timeline:hover {
  opacity: 0.8;
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
  .timeline {
    width: 90%;
  }
}

@media screen and (min-width: 1200px) {
  .timeline {
    width: 70%;
  }
}
