.timeline-post {
  margin: 2rem auto 2rem auto;
  width: 100%;
  border: 1px solid black;
  box-shadow: 0px 0px 5px 0px white;
}

.timeline-title {
  font-size: 1.5rem;
  margin: 0.5rem auto auto 0.5rem;
}

.timeline-content-container {
  font-size: 1.15rem;
  margin: 0.5rem;
  line-height: 1.5;
}

.post-footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin: auto auto auto 0.5rem;
}

.likes-container {
  grid-column: 1;
  display: flex;
}

.likes-icon {
  color: #0076bd;
  margin-top: 1rem;
  cursor: pointer;
}

.likes-icon:hover {
  opacity: 0.7;
}

.number-of-likes {
  margin-top: 1.2rem;
  margin-left: 5px;
}

.comments-container {
  grid-column: 2;
  display: flex;
  cursor: pointer;
}

.comments-icon {
  color: #0076bd;
  margin-top: 1rem;
}

.comments-icon:hover {
  opacity: 0.7;
}

.number-of-comments {
  margin-top: 1.2rem;
  margin-left: 5px;
}

.display-more-btn {
  grid-column: 4;
  transition: all linear 0.2s;
  border: none;
  background: transparent;
  color: #0076bd;
  margin-left: 60%;
  cursor: pointer;
}

.display-more-btn:hover {
  opacity: 0.5;
}

.display-more-btn-clicked {
  grid-column: 4;
  transition: all linear 0.2s;
  border: none;
  background: transparent;
  color: #0076bd;
  margin-left: 60%;
  cursor: pointer;
  transform: rotate(180deg);
}

.comments-modal-container {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 90%;
}

/* .close-modal {
  color: black;
  cursor: pointer;
  margin-left: 82%;
} */

.close-modal {
  position: absolute;
  color: black;
  cursor: pointer;
  margin-left: 90%;
}

.comments-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.comments-form button {
  width: 3.5rem;
  height: 2.5rem;
  font-size: 1.15rem;
  margin: auto;
  background-color: #0076bd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comment-box {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.comment-box:focus {
  outline: none;
}

.comments-section {
  color: black;
  margin-left: 0.5rem;
  max-width: 90%;
  border-bottom: 1px solid black;
}

.single-comment-username {
  font-size: 1.25rem;
  margin-bottom: 0;
}

.single-comment {
  color: black;
}

@media screen and (min-width: 800px) {
  .comments-modal-container {
    width: 60%;
  }

  .comments-container {
    margin-left: -1rem;
  }

  .close-modal {
    margin-left: 90%;
  }
}

@media screen and (min-width: 1000px) {
  .comments-container {
    margin-left: -2.5rem;
  }

  .close-modal {
    margin-left: 90%;
  }
}

@media screen and (min-width: 1200px) {
  .comments-modal-container {
    width: 40%;
  }
}

@media screen and (min-width: 1500px) {
  .close-modal {
    margin-left: 95%;
  }
}
