.tutorials {
  border-top: 1px solid black;
  position: relative;
}

.tutorials-title {
  text-align: center;
  border-bottom: 1px solid black;
  width: 30%;
  margin: 1rem auto 1rem auto;
}

.more-tutorials {
  text-align: center;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .tutorials {
    grid-column: 3;
    grid-row: 1 / -1;
    border-left: 1px solid black;
  }

  .tutorials-title {
    margin: 5% auto 3% auto;
    border-bottom: 1px solid black;
    padding-bottom: 5%;
    width: 40%;
    font-size: 1.5rem;
  }
}
