.create-post {
  grid-row: 2;
  display: grid;
  grid-template-rows: 1fr 1fr 0.5fr;
  width: 80%;
  margin: 3rem auto auto auto;
}

.post-title {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--main-color);
  color: white;
  font-size: 1.5rem;
  margin: auto auto auto auto;
  width: 100%;
  font-family: var(--sans-serif);
}

.post-title:focus {
  outline: none;
}

.post-content {
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-top: none;
  color: var(--secondary-color);
  font-size: 1.5rem;
  margin: auto auto 1rem auto;
  width: 100%;
  font-family: var(--sans-serif);
}

.post-content:focus {
  outline: none;
}

.post-btn {
  width: 5rem;
  height: 3rem;
  margin: auto auto 1rem auto;
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  color: var(--secondary-color);
  font-family: var(--sans-serif);
  font-size: 1.2rem;
  cursor: pointer;
}

.post-btn:hover {
  opacity: 0.8;
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
  .create-post {
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr;
    width: 70%;
    margin: 0 auto auto auto;
  }
}

@media screen and (min-width: 1200px) {
  .create-post {
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr;
    width: 60%;
    margin: auto auto auto auto;
  }
}
