.sidebar {
}

.friends-title {
  margin: 5% auto 3% auto;
  border-bottom: 1px solid black;
  padding-bottom: 5%;
  width: 40%;
  color: #0076bd;
}

.more-friends {
  cursor: pointer;
}

.mobile-sidebar-hidden {
  display: none;
}

.mobile-sidebar-shown {
  text-align: center;
  display: inline-block;
  border-radius: 0 5px 5px 0;
  margin: -2.5rem auto auto auto;
  width: 6rem;
  position: absolute;
  background-color: #0076bd;
  color: white;
}

.friends-list {
  text-align: center;
  font-size: 1.15rem;
}

.friend-name {
  padding-bottom: 0.5rem;
  margin: 1rem auto 1rem auto;
}

.friend-name:hover {
  opacity: 0.7;
  cursor: pointer;
}

.small-friends-arrow {
  transition: all linear 0.2s;
  position: absolute;
  margin: -5rem auto auto auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.small-friends-arrow-clicked {
  transition: all linear 0.2s;
  position: absolute;
  transform: rotate(180deg);
  margin: -5rem auto auto auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.following-name {
  font-size: 1.15rem;
}

.following-name:hover {
  opacity: 0.7;
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
  .sidebar {
    display: inline-block;
    width: 100%;
    grid-column: 1;
    grid-row: 1 / -1;
    text-align: center;

    box-sizing: border-box;
    border-right: 1px solid black;
  }

  .sidebar-shown {
    display: none;
  }

  .small-friends-arrow {
    display: none;
  }

  .mobile-sidebar-shown {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .sidebar {
    display: inline-block;
    width: 100%;
    grid-column: 1;
    grid-row: 1 / -1;
    text-align: center;
    box-sizing: border-box;
    border-right: 1px solid black;
  }

  .sidebar-shown {
    display: none;
  }

  .small-friends-arrow {
    display: none;
  }

  .mobile-sidebar-shown {
    display: none;
  }

  .following-name {
    cursor: pointer;
  }

  .following-name:hover {
  }
}
