@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nanum+Myeongjo:wght@800&display=swap");

h1 {
  font-family: "Nanum Myeongjo", serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

.main-container {
  position: relative;
}

@media screen and (min-width: 800px) {
  .main-container {
    display: grid;
    grid-template-columns: 0.25fr 1fr 0.25fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
