@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nanum+Myeongjo:wght@800&display=swap");

h1 {
  font-family: "Nanum Myeongjo", serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}
