.single-tutorial {
  margin: 0.75rem auto 0.75rem auto;
  max-width: 70%;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  /* box-shadow: 2px 2px 2px 0px black; */
  background-color: #0076bd;
  color: white;
  position: relative;
}

.single-tutorial:hover {
  background-color: #0076bd;
  opacity: 0.8;
}

.tutorial-title {
  margin: 0.5rem auto auto 0.5rem;
  text-align: left;
  padding-top: 0.5rem;
  font-size: 1.25rem !important;
}

.tutorial-description {
  margin: 0.5rem auto auto auto;
  padding-left: 0;
  max-height: 3rem;
  overflow: hidden;
}

.trending-icon-container {
  display: flex;
  margin-left: 0.25rem;
  flex-direction: row;
  gap: 1.5rem;
}

.trending-like-container {
  display: flex;
}

.trending-likes-position {
}

.trending-comment-container {
  display: flex;
  max-width: 90vh;
}

.trending-comments-position {
}

@media screen and (min-width: 800px) {
  .single-tutorial {
    max-width: 80%;
    margin: 0 auto 0 auto;
  }

  .hide-trending-modal {
    display: hide;
    margin: 0 auto 0 auto;
  }

  .trending-modal {
    display: inline-block;
    position: absolute;
    background-color: #0076bd;
  }

  .trending-icon-container {
    display: flex;
    margin-left: 7rem;
    margin-top: 2rem;
    flex-direction: row;
    gap: 1.5rem;
  }

  .trending-like-container {
    display: flex;
  }

  .trending-likes-position {
  }

  .trending-comment-container {
    display: flex;
  }

  .trending-comments-position {
  }
}
