.single-trending {
  margin: 0.75rem auto 0.75rem auto;
  max-width: 70%;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  color: var(--secondary-color);
  position: relative;
}

.single-trending:hover {
  background-color: rgba(0, 118, 189, 0.2);
}

.trending-post-title {
  margin: 0.5rem auto auto 0.5rem;
  text-align: left;
  padding-top: 0.5rem;
}

.trending-description {
  margin: 0.5rem auto auto auto;
  padding-left: 0;
  overflow: hidden;
}

.trending-icon-container {
  display: flex;
  margin-left: 0.25rem;
  flex-direction: row;
  gap: 1.5rem;
}

.trending-like-container {
  display: flex;
}

.trending-comment-container {
  display: flex;
  max-width: 90vh;
}

@media screen and (min-width: 800px) {
  .single-trending {
    max-width: 95%;
    margin: 0 auto 0 auto;
  }

  .trending-description {
    margin: 1rem auto 1.5rem 0.5rem;
    text-align: start;
  }

  .hide-trending-modal {
    display: hide;
    margin: 0 auto 0 auto;
  }

  .trending-modal {
    display: inline-block;
    position: absolute;
    background-color: var(--main-color);
  }

  .trending-icon-container {
    display: flex;
    margin-left: 0.75rem;
    margin-top: 0;
    flex-direction: row;
    gap: 1.5rem;
  }

  .trending-like-container {
    display: flex;
  }

  .trending-comment-container {
    display: flex;
  }
}
