.trending {
  position: relative;
  padding-bottom: 1rem;
}

.trending-title {
  text-align: center;
  border-bottom: 1px solid var(--secondary-color);
  width: 30%;
  margin: 1rem auto 1rem auto;
  color: var(--main-color);
}

.trending h4 {
  color: black;
  font-size: 1.25rem;
  color: var(--main-color);
}

.more-trending {
  text-align: center;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .trending {
    grid-column: 3;
    grid-row: 1 / -1;
    position: sticky;
    top: 0;
    margin-left: -1rem;
  }

  .trending-container {
    background-color: var(--body-background-color);
    width: 100%;
    border-radius: 5px 0 0 5px;
  }

  .trending-title {
    margin: 1rem auto 3% 1.25rem;
    padding-bottom: 10px;
    width: 80%;
    font-size: 2rem;
    color: var(--main-color);
  }
}
