.tutorials {
  position: relative;
  padding-bottom: 1rem;
}

.tutorials-title {
  text-align: center;
  border-bottom: 1px solid white;
  width: 30%;
  margin: 1rem auto 1rem auto;
  color: #0076bd;
}

.tutorials h4 {
  color: black;
  font-size: 1.25rem;
}

.tutorials p {
  text-align: start;
  width: 90%;
  margin: 1rem auto 1rem auto;
}

.more-tutorials {
  text-align: center;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .tutorials {
    grid-column: 3;
    grid-row: 1 / -1;
    position: sticky;
    top: 0;
  }

  .tutorials-container {
    background-color: #0076bd;
    width: 100%;
    border-radius: 5px 0 0 5px;
  }

  .tutorials-title {
    margin: 1rem auto 3% auto;
    padding-bottom: 10px;
    width: 45%;
    font-size: 2rem;
    color: #0076bd;
  }
}
